body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-banner{
	background-color: #FAB824;
}

.linechart_path {
	stroke: rgb(253, 200, 39);
	vector-effect: non-scaling-stroke; 
	stroke-width: 3; 
	fill: none;
}
.linechart_axis {
	stroke: #000000;
}

.graph .grid{
	stroke: #ccc;
	stroke-dasharray: 0;
	stroke-width: 1;	
}

.progress-display{
	fill: #ffffff;
	stroke: black;
	stroke-width: 3;
	r: 20;
}